:root {
  --nav-content-txt-line-height: 1.5rem;
  --nav-content-txt-color: #ffffff;
  --nav-content-border-radius: 0.25rem;
  --nf-primary-color: #e50914;
}

body {
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", sans-serif;
}

.main-bg-img-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-bg-img {
  transform: scale(1.36) translate(-8.75%, -8%);
  object-fit: cover;
}

.gradient-frame {
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Navbar */
header {
  overflow: visible;
  height: 0;
  position: relative;
  z-index: 1;
}

.nav-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

#nav-nf-logo {
  height: 2.5rem;
}

.nav-lang-signin-container {
  display: flex;
}

.lang-icon-dropdown-container {
  display: inline-flex;
  align-items: center;
  border: 0.01rem solid rgba(128, 128, 128, 0.7);
  border-radius: var(--nav-content-border-radius);
  padding: 0.20rem 0.75rem;
  gap: 0.5rem;
  background-color: rgb(20, 20, 20, 0.750);
}

.lang-icon-container {
  display: inline-flex;
  align-items: center;
}

#lang-icon {
  font-size: 1rem;
}

#lang-dropdown {
  line-height: var(--nav-content-txt-line-height);
  font-size: 1rem;
  appearance: none;
  background-color: transparent;
  color: var(--nav-content-txt-color) !important;
  border: none !important;
}

.dropdown-icon-container {
  display: inline-flex;
  align-items: center;
}

.singin-btn-container {
  margin-left: 1.5rem;
}

#btn-signin {
  background-color: #e50914;
  border: none !important;
  border-radius: var(--nav-content-border-radius);
  line-height: var(--nav-content-txt-line-height);
  color: var(--nav-content-txt-color) !important;
  padding: 0.25rem 1rem;
  font-weight: 600;
  font-size: 0.87rem;
}

/* Main Content */
.hero-content-container {
  overflow: hidden;
  height: auto;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 45%;
  left: 0;
  color: var(--nav-content-txt-color);
  text-align: center;
}

#hero-headline {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

#hero-subheadline {
  font-size: 1.5rem;
  font-weight: 400;
}

#hero-form-headline {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

#email-label {
  font-size: 1rem;
  font-weight: 500;
  color: #bab9b8;
  position: absolute;
  z-index: 1;
  top: 86%;
  left: 23.5%;
}

.input-element-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  margin: 1rem auto 0;
}

#email-input {
  background-color: rgb(20, 20, 20, 0.750);
  border: 0.01rem solid rgba(128, 128, 128, 0.75);
  border-radius: var(--nav-content-border-radius);
  color: var(--nav-content-txt-color);
  font-size: 1rem;
  line-height: 1.5;
  width: auto;
  padding: 1.5rem 5rem 0.5rem;
}

#btn-get-started {
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 3.5rem;
  border: none;
  border-radius: var(--nav-content-border-radius);
  background-color: var(--nf-primary-color);
  color: var(--nav-content-txt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

/* Hero Section Divider */
.section-divider {
  width: 100%;
  height: 0.5rem;
  position: absolute;
  background-color: rgb(35, 35, 35);
}

/* Section: Enjoy on TV */
.enjoyOnTV-container {
  color: var(--nav-content-txt-color);
  background-color: black;
  min-height: auto;
  padding: 4.5rem 0;
}

.enjoyOnTV-content-container {
  margin: 0 2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.enjoyOnTV-description {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
}

.enjoyOnTV-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.enjoyOnTV-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.enjoyOnTV-media {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}

.TV-container {
  position: relative;
}

#TV {
  width: 100%;
  border: 0;
}

.video-container {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}