@import url("./index.css");

/* Sign In Section */
.signin-container {
  /* style for centering <div> */
  position: absolute;
  padding: 3rem 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* other style */
  background-color: #000000b3;
  border-radius: 0.25rem;
}

#form-header {
  margin: 0 0 1.75rem;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
}

.form-floating {
  width: 100%;
}

.form-floating label {
  color: rgba(255, 255, 255, 0.7) !important;
  left: 0.25rem;
}

.form-floating label::after {
  background-color: transparent !important;
}

.form-control {
  border-color: rgba(128, 128, 128, 0.7);
  background-color: rgba(22, 22, 22, 0.7) !important;
}

.form-control:focus {
  box-shadow: none;
  outline: rgb(255, 255, 255) solid 0.125rem;
  outline-offset: 0.125rem;
}

#floatingInput,
#floatingPassword {
  color: white;
  padding: 1.5rem 7rem 0.5rem 1rem;
  border-radius: 0.25rem;
}

.btn {
  color: white !important;
  background: rgb(229, 9, 20) !important;
  background-color: rgb(229, 9, 20) !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding: 0.5rem 8.25rem;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: rgb(229, 9, 20, 0.75) !important;
}

.or {
  color: rgba(255, 255, 255, 0.7);
}