@import url("./index.css");

/* Sign In Section */
.signin-container {
  /* style for centering <div> */
  position: absolute;
  padding: 3rem 4rem;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* other style */
  background-color: #000000b3;
  border-radius: 0.25rem;
}

#form-header {
  margin: 0 0 1.75rem;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
}

.form-floating label {
  color: inherit;
  /* filter: opacity(0%); */
  background-color: transparent;
}

#floatingInput,
#floatingPassword {
  color: inherit;
  filter: opacity(0%);
  background-color: transparent;
}