:root {
  --nav-content-txt-line-height: 1.5rem;
  --nav-content-txt-color: #ffffff;
  --nav-content-border-radius: 0.25rem;
  --nf-primary-color: #e50914;
}

body {
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", sans-serif;
}

.main-bg-img-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-bg-img {
  transform: scale(1.36) translate(-8.75%, -8%);
  object-fit: cover;
}

.gradient-frame {
  background: rgb(0 0 0 / 50%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.750) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.750) 100%);
}

/* Navbar */
header {
  overflow: visible;
  height: 0;
  position: relative;
  z-index: 1;
}

.nav-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

#nav-nf-logo {
  height: 2.5rem;
}

/* Language Dropdown and Signin Button container */
.lang-signin-container {
  display: flex;
}

/* Language Dropdown */
.lang-dropdown-container {
  display: flex;
  align-items: center;
}

.lang-icon-container {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 22dvw;
}

#lang-dropdown {
  appearance: none;
  padding: 0.25rem 2.25rem;
  background-color: rgb(20, 20, 20, 0.750);
  border: 0.01rem solid rgba(128, 128, 128, 0.7);
  border-radius: var(--nav-content-border-radius);
  color: var(--nav-content-txt-color);
}

#lang-dropdown option {
  color: black;
  background-color: var(--nav-content-txt-color);
}

.dropdown-icon-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 9rem;
}

/* Signin-button */
.singin-btn-container {
  margin-left: 1.5rem;
}

#btn-signin {
  background-color: #e50914;
  border: none;
  border-radius: var(--nav-content-border-radius);
  line-height: var(--nav-content-txt-line-height);
  color: var(--nav-content-txt-color);
  padding: 0.25rem 1rem;
  font-weight: 600;
  font-size: 0.87rem;
}

/* Main Content */
.hero-content-container {
  overflow: hidden;
  height: auto;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 56%;
  left: 0;
  color: var(--nav-content-txt-color);
  text-align: center;
}

#hero-headline {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

#hero-subheadline {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.membership-form-container {
  margin: 1.5rem 0 0;
}

.form-container {
  text-align: center;
  box-sizing: border-box;
  max-width: 61.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.membership-form {
  display: flex;
  flex-direction: column;
}

.hero-form-headline {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-element-container {
  max-width: 36.625rem;
  position: relative;
  display: flex;
  margin: 1rem auto 0.25rem auto;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  gap: 0;
}

.label-container {
  width: auto;
  display: inline-flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  position: relative;
  vertical-align: text-top;
}

.input-label {
  position: absolute;
  display: block;
  user-select: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  left: 1rem;
  top: 1rem;
  z-index: 1;
}

.input-container {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 0;
  fill: currentcolor;
  min-width: 12.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  letter-spacing: normal;
  line-height: 100%;
  position: relative;
  text-align: left;
  z-index: 0;
}

.email-input {
  background-color: rgb(20, 20, 20, 0.750);
  border: 0.01rem solid rgba(128, 128, 128, 0.7);
  border-radius: var(--nav-content-border-radius);
  font-size: 1rem;
  line-height: 1.5;
  width: auto;
  padding: 1.5rem 10rem 0.5rem 1rem;
  min-height: 2rem;
  min-width: 2rem;
  color: inherit;
  background-clip: padding-box;
}

.btn-get-started {
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 3.5rem;
  border-radius: var(--nav-content-border-radius);
  background-color: var(--nf-primary-color);
  color: var(--nav-content-txt-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem 0.75rem 2rem;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: normal;
  line-height: 1;
  flex: 0 0 auto;
  margin-top: 0;
  margin-left: 0.5rem;
  appearance: none;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-size-adjust: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  user-select: none;
  border: 0;
  cursor: pointer;
}

.right-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}

.right-angle-icon {
  width: 1.5rem;
  height: inherit;
  margin-left: 0.75rem;
}

/* Hero Section Divider */
.section-divider {
  width: 100%;
  height: 0.5rem;
  position: absolute;
  background-color: rgb(35, 35, 35);
}

/* Section: Enjoy on TV */
.enjoyOnTV-container {
  color: var(--nav-content-txt-color);
  background-color: black;
  min-height: auto;
  padding: 4.5rem 0;
}

.enjoyOnTV-content-container {
  margin: 0 2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.enjoyOnTV-description {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
}

.enjoyOnTV-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
}

.enjoyOnTV-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.enjoyOnTV-media {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}

.TV-container {
  position: relative;
}

#TV {
  width: 100%;
  border: 0;
}

.video-container {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Section: Download Shows */
.downloadShows-container {
  color: var(--nav-content-txt-color);
  background-color: black;
  min-height: auto;
  padding: 4.5rem 0;
}

.downloadShows-content-container {
  margin: 0 2rem;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: left;
}

.downloadShows-description {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
}

.downloadShows-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
}

.downloadShows-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.downloadShows-media-container {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}

.mobile-container {
  position: relative;
}

#mobile {
  width: 100%;
  border: 0;
}

.download-preview-container {
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 15rem;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  z-index: 1;
  padding: 0.5rem 0.75rem;
}

.boxshot-st-container {
  margin: 0 1rem 0 0;
  flex-grow: 0;
  flex-shrink: 0;
}

#boxshot-st {
  border: 0;
  width: 100%;
  height: 4.5rem;
}

.download-preview-text-container {
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.3rem 0;
}

#text-stranger-things {
  font-weight: 500;
}

#text-downloading {
  font-weight: 400;
  color: #0071eb;
}

.downloading-gif-container {
  width: 4rem;
  height: 4rem;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  display: block;
  background: url("/Assets/images/downloading.gif") center center no-repeat;
  background-size: 100%;
  content: '';
  flex-grow: 0;
  flex-shrink: 0;
}

/* Section: Watch Everywhere */
.watchEverywhere-container {
  color: var(--nav-content-txt-color);
  background-color: black;
  min-height: auto;
  padding: 4.5rem 0;
}

.watchEverywhere-content-container {
  margin: 0 2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.watchEverywhere-description {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
}

.watchEverywhere-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
}

.watchEverywhere-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.watchEverywhere-media {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}

.iTV-container {
  position: relative;
}

#iTV {
  width: 100%;
  border: 0;
}

.iTV-video-container {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 63%;
  max-height: 47%;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Section: Create Kids Profile */
.createKidsProfile-container {
  color: var(--nav-content-txt-color);
  background-color: black;
  min-height: auto;
  padding: 4.5rem 0;
}

.createKidsProfile-content-container {
  margin: 0 2rem;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: left;
}

.createKidsProfile-description {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
}

.createKidsProfile-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
}

.createKidsProfile-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.createKidsProfile-media-container {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}

.kidsProfile-banner-container-container {
  position: relative;
}

#kidsProfile-banner {
  width: 100%;
  border: 0;
}

/* Section: FAQ */
.faq-container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 4.5rem 0;
}

.faq-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.faq-content {
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 90dvw;
}

.faq-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
}

.faq-accordion-container {
  margin: 1rem 0 0;
}

.accordion-item-container {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.accordion-item {
  padding: 0;
  margin-bottom: 0.5rem;
}

.accordion-head {
  display: flex;
  position: relative;
  margin-bottom: 0.0625rem;
  border-radius: 0rem;
  color: rgb(255, 255, 255);
  background-color: rgb(45, 45, 45);
  font-size: inherit;
  font-weight: inherit;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.accordion-header:hover {
  background-color: rgb(65, 65, 65);
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

#accordion-btn {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  border: none;
  border-radius: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  animation: 0.5s 1;
}

.accordion-body-container {
  overflow: hidden;
  max-height: none;
  visibility: visible;
  padding: 1.5rem;
  transition: 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  text-align: left;
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  border-radius: 0rem;
}

.faq-membership-form-container {
  margin-top: 2.85rem;
}

/* Footer Section */
footer {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 400;
  background-color: black;
  padding: 4.5rem 2rem;
}

.footer-content-container {
  box-sizing: border-box;
  width: 100%;
  display: inherit;
  height: auto;
}

.footer-content {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: inherit;
  width: 100%;
  padding: 0;
}

.tel-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 0;
}

.tel {
  margin-bottom: 0.75rem;
}

#tel-number {
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.125rem;
}

.quick-link-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 0;
}

.quick-link-content-container {
  margin: 0.75rem 0;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
}

.ul-container {
  box-sizing: border-box;
  width: 100%;
  display: inherit;
  height: auto;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: inherit;
  padding: 0;
  margin-top: -1rem;
  width: inherit;
}

.ul-item {
  display: inline-flex;
  flex-wrap: wrap;
  width: 25%;
  padding: 0;
  margin: 0.9rem 0 0 0;
}

.ul-item-link {
  color: rgba(255, 255, 255, 0.7);
}

.select-lang-content-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: inherit;
  height: inherit;
  padding: 0;
  margin-top: -0.5rem;
}

.select-lang-content {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: inherit;
  height: inherit;
  padding: 0;
  margin-top: -0.5rem;
}

.lang-signin-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 0;
}

.nf-india {
  display: inline-flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 0;
}

.nf-india-text {
  font-size: 0.875rem;
  margin-top: calc(0.75rem* 2);
}