/* Smartphone */
@media only screen and (max-width: 425px) {
  .main-bg-img-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .main-bg-img {
    transform: scale(1) translate(0%, 0%);
    height: 100dvh;
    object-fit: cover;
    object-position: center;
  }

  .gradient-frame {
    background: rgb(0 0 0 / 75%);
  }

  /* Navbar */
  .nav-content-container {
    padding: 1.5rem 1.5rem;
  }

  #nav-nf-logo {
    height: 1.5rem;
  }

  /* Language Dropdown */
  .lang-icon-container {
    right: 50.75dvw;
  }

  #lang-dropdown {
    padding: 0.25rem 1.5rem;
  }

  .dropdown-icon-container {
    right: 31dvw;
  }

  .singin-btn-container {
    margin-left: 0.75rem;
  }

  /* Main Content */
  .hero-content-container {
    top: 25dvh;
    padding: 0 2rem 2rem;
  }

  #hero-headline {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  #hero-subheadline {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 1rem;
  }

  /* Membership Form Section */
  .membership-form-container {
    margin: 1rem 0 0;
  }

  .hero-form-headline {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .form-element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-label {
    line-height: 1.25;
  }

  .email-input {
    padding: 1rem 6.75rem 0.5rem 1rem;
    margin: 0 0 0.1rem 0;
  }

  .btn-get-started {
    font-size: 1.2rem;
    font-weight: 600;
    min-height:0;
    padding: 0.75rem;
    margin-top: 1rem;
  }

  .right-angle-icon {
    margin-left: 0.5rem;
  }

  /* Section: Download Shows */
  .downloadShows-title {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0;
  }

  /* Section: Watch Everywhere */
  .watchEverywhere-title {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0;
  }

  /* Section: FAQ */
  .faq-title {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0;
  }
}