/* Smartphone */
@media only screen and (max-width: 480px) {
  .main-bg-img-container {
    display: none;
  }

  .nav-content-container {
    padding: 1rem;
  }

  #nav-nf-logo {
    width: 20dvw;
  }

  /* SignIn Section */
  .signin-container {
    position: initial;
    padding: 0 5%;
    margin: 20% 0 0;
  }

  /* Form Footer Section */
  .recaptcha-terms-of-use {
    margin: 0 0 6rem;
  }

  /* Divider: Section Divider  */
  .section-divider {
    display: inherit;
    width: 100%;
    height: 0.2dvh;
    position: absolute;
    background-color: rgb(35, 35, 35);
  }

  /* Footer Section */
  .page-footer {
    margin: 0;
    padding: 2.5rem 2rem;
  }

  .ul-item {
    width: 50%;
  }

  /* Language Dropdown */
  .foot-lang-icon-container {
    right: 16.25em;
  }

  .foot-dropdown-icon-container {
    right: 11em;
  }
}

/* Tablet */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  main {
    position: absolute;
  }

  .main-bg-img-container {
    position: inherit;
    z-index: inherit;
  }

  .gradient-frame {
    height: 100dvh;
    background: rgb(0 0 0 / 50%);
  }

  .main-bg-img {
    transform: none;
    object-fit: cover;
    height: 100dvh;
  }

  /* Header - Navbar Section */
  .nav-content-container {
    padding: 1.2em 2em;
  }

  #nav-nf-logo {
    width: 12dvw;
  }

  /* SignIn Section */
  .signin-container {
    position: relative;
    margin: 8.75% 20% 0;
  }

  .or {
    margin: 1rem 0;
  }

  /* Form Footer Section */
  .recaptcha-terms-of-use {
    margin: 0 0 6rem;
  }

  /* Divider: Section Divider  */
  .section-divider {
    display: inherit;
    width: 100%;
    height: 0.2dvh;
    position: absolute;
    background-color: rgb(35, 35, 35);
  }

  /* Divider: Section Divider */
  .section-divider {
    display: none;
  }

  /* Footer Section */
  .page-footer {
    margin: 0;
    padding: 2.5rem 2rem;
  }

  .ul-item {
    width: 50%;
  }

  /* Language Dropdown */
  .foot-lang-icon-container {
    right: 44.25em;
  }

  .foot-dropdown-icon-container {
    right: 39em;
  }
}